<h3 class='favorites_h'>favorites list</h3>
<div class="container">
  <% current_user.favorites.each do |favorite| %>
    <div class="col-sm-4 col-md-4 ">
      <p class='favorite_p'>投稿者：<%= favorite.blog.user.name %></p>
      <p class='favorite_p'>タイトル：<%= favorite.blog.title %></p>
      <p class='favorite_p'>内容</p>
      <p><%= favorite.blog.content %></p>
      <p><%= image_tag favorite.blog.image.url,size: '100x100' %></p>
    </div>
  <% end %>
</div>