// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_new_edit_show_h{
  padding-top: 50px;
}
.text-content{
  height: 10vw;
}
ul{
  list-style: none;
}
#index_h{
  margin-bottom: 20px;
  padding-top: 25px;
}
#index_name{
  margin-bottom: 0;
  margin-top: 10px;
}
.favorite_p{
  margin-bottom: 0;
}